body {
  background-color: rgb(0, 70, 83);
  text-align: center;
  font-family: 'Neucha', cursive;
}

.welcome {
  font-size: 60px;
  color: rgb(212, 212, 212);
  margin-top: 0px;
}

.gifvia {
  font-size: 350px;
  color: rgb(212, 212, 212);
  margin-top: 0px;
  padding-top: 0px;
}

.hello1,
.hello2 {
  width: 100px;
  height: 100px;
}

h2 {
  color: rgb(212, 212, 212);
}

#button {
  height: 55px;
  width: 100px;
  background-color: rgb(1, 13, 128);
}

h4 {
  color: rgb(30, 255, 0);
}

.gifvia {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 20000ms;
  -webkit-animation-duration: 20000ms;
  -webkit-animation-iteration-count: 1000;
  -ms-animation-iteration-count: 50;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(20deg);
  }

  75% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }

  25% {
    -ms-transform: rotate(-1deg);
  }

  50% {
    -ms-transform: rotate(1.5deg);
  }

  75% {
    -ms-transform: rotate(-5deg);
  }

  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}