#header {
    text-align: center;
    border: solid;
    
    border-color: rgba(0, 0, 0, 0);

    
    
    background-color: rgb(0, 70, 83);
    color: rgb(236, 236, 236);
    
}

#info {
    border: solid;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
    border-color: rgba(0, 0, 0, 0.062);
    font-size: 1px;
    
}

#highScore {
    text-align: center;
    border: solid;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
    border-color: rgba(0, 0, 0, 0.281);
    
    margin-left: 2px;
    
    
    
}

#quizTopic {
    border: solid;
    border-color: rgba(0, 0, 0, 0.336);
    margin-top: 5px;
    padding-bottom: 40px;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
}



footer {
   
    text-align: center;
    
    margin-top:5px;
    margin-bottom:5px;
    padding: 5px;
    
    
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}



#banner {
    font-size: 85px;
    
    
    
    
}




.tBox {
    
    text-align: center;
    font-size: 35px;
    
}

aside {
    border: solid;
    float: right;
    
     margin-left: auto;
    margin-right: auto;
    margin: 5px; 

    
}

body {
    background-image: url("https://i.imgur.com/dqj1Hfw.jpg");
    background-size: cover;
    font-family: 'Neucha', cursive;
    background-attachment: fixed;
}

input {
    background-color: rgb(224, 224, 224);
}

#quizLabel {
    font-size: 45px;
}

.scoreTable {
    background-color: black;
}

#table {
    border: solid;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
    border-color: rgba(255, 255, 255, 0);
    text-align: center;
    
    
    
    
    margin-top: 10px;
    
}

#tableText {
    color: rgb(212, 212, 212);
}

#tableHead {
    font-size: 20px;
}

#tableItems {
    font-size: 1px;
}

#scoreHead {
    font-size: 45px;
}

.startGameButton {
    font-size: 30px;
    background-color: rgb(0, 70, 83);
    margin-top: 30px;
    width: 200px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

#gif {
    height: 290px;
    width: 290px;
}

#trivia-gif {
  max-height: 200px;
}

#sel1 {
    background-color: rgb(224, 224, 224);
}

#headerGif1 {
    height: 90px;
    width: 90px;
    float: right;
    
    
}

#headerGif2 {
    height: 90px;
    width: 90px;
    float: left;
    
}

.alpha {
  font-size: 15px;
}

.pinNumber {
  text-align: center;
  font-size: 20px;
}

.tBox2 {
  font-size: 20px;
  text-align: center;
}

/*HOVER SECTION*/

#banner:hover {
    
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 100;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

.startGameButton:hover {
    -webkit-animation-name: wiggle;
        -ms-animation-name: wiggle;
        -ms-animation-duration: 1000ms;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: 100;
        -ms-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
      }
      
      @-webkit-keyframes wiggle {
        0% {-webkit-transform: rotate(10deg);}
        25% {-webkit-transform: rotate(-10deg);}
        50% {-webkit-transform: rotate(20deg);}
        75% {-webkit-transform: rotate(-5deg);}
        100% {-webkit-transform: rotate(0deg);}
      }
      
      @-ms-keyframes wiggle {
        0% {-ms-transform: rotate(1deg);}
        25% {-ms-transform: rotate(-1deg);}
        50% {-ms-transform: rotate(1.5deg);}
        75% {-ms-transform: rotate(-5deg);}
        100% {-ms-transform: rotate(0deg);}
      }
      
      @keyframes wiggle {
        0% {transform: rotate(10deg);}
        25% {transform: rotate(-10deg);}
        50% {transform: rotate(20deg);}
        75% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
      }


#gif:hover {
    -webkit-animation-name: wiggle;
        -ms-animation-name: wiggle;
        -ms-animation-duration: 1000ms;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: 100;
        -ms-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
      }
      
      @-webkit-keyframes wiggle {
        0% {-webkit-transform: rotate(10deg);}
        25% {-webkit-transform: rotate(-10deg);}
        50% {-webkit-transform: rotate(20deg);}
        75% {-webkit-transform: rotate(-5deg);}
        100% {-webkit-transform: rotate(0deg);}
      }
      
      @-ms-keyframes wiggle {
        0% {-ms-transform: rotate(1deg);}
        25% {-ms-transform: rotate(-1deg);}
        50% {-ms-transform: rotate(1.5deg);}
        75% {-ms-transform: rotate(-5deg);}
        100% {-ms-transform: rotate(0deg);}
      }
      
      @keyframes wiggle {
        0% {transform: rotate(10deg);}
        25% {transform: rotate(-10deg);}
        50% {transform: rotate(20deg);}
        75% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
      }



#quizLabel:hover {
    -webkit-animation-name: wiggle;
        -ms-animation-name: wiggle;
        -ms-animation-duration: 1000ms;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: 100;
        -ms-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
      }
      
      @-webkit-keyframes wiggle {
        0% {-webkit-transform: rotate(10deg);}
        25% {-webkit-transform: rotate(-10deg);}
        50% {-webkit-transform: rotate(20deg);}
        75% {-webkit-transform: rotate(-5deg);}
        100% {-webkit-transform: rotate(0deg);}
      }
      
      @-ms-keyframes wiggle {
        0% {-ms-transform: rotate(1deg);}
        25% {-ms-transform: rotate(-1deg);}
        50% {-ms-transform: rotate(1.5deg);}
        75% {-ms-transform: rotate(-5deg);}
        100% {-ms-transform: rotate(0deg);}
      }
      
      @keyframes wiggle {
        0% {transform: rotate(10deg);}
        25% {transform: rotate(-10deg);}
        50% {transform: rotate(20deg);}
        75% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
      }

h1:hover {
    -webkit-animation-name: wiggle;
        -ms-animation-name: wiggle;
        -ms-animation-duration: 1000ms;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: 100;
        -ms-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
      }
      
      @-webkit-keyframes wiggle {
        0% {-webkit-transform: rotate(10deg);}
        25% {-webkit-transform: rotate(-10deg);}
        50% {-webkit-transform: rotate(20deg);}
        75% {-webkit-transform: rotate(-5deg);}
        100% {-webkit-transform: rotate(0deg);}
      }
      
      @-ms-keyframes wiggle {
        0% {-ms-transform: rotate(1deg);}
        25% {-ms-transform: rotate(-1deg);}
        50% {-ms-transform: rotate(1.5deg);}
        75% {-ms-transform: rotate(-5deg);}
        100% {-ms-transform: rotate(0deg);}
      }
      
      @keyframes wiggle {
        0% {transform: rotate(10deg);}
        25% {transform: rotate(-10deg);}
        50% {transform: rotate(20deg);}
        75% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
      }











