@import url("https://www.w3schools.com/w3css/4/w3.css");

#header {
    text-align: center;
    border: solid;
    
    border-color: rgba(0, 0, 0, 0);
    
    
    
    background-color: rgb(0, 70, 83);
    color: rgb(236, 236, 236);
    
}

#info {
    border: solid;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
    border-color: rgba(0, 0, 0, 0.062);
    font-size: 1px;
    
}

#highScore {
    text-align: center;
    border: solid;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
    border-color: rgba(0, 0, 0, 0.281);
    
    margin-left: 2px;
    
    
    
}

#quizTopic {
    border: solid;
    border-color: rgba(0, 0, 0, 0.336);
    margin-top: 5px;
    padding-bottom: 40px;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
}

#nickname {
    border: solid;
    border-color: rgba(0, 0, 0, 0.336);
    margin-top: 10px;
    
    padding-top: 0px;
    
    text-align: center;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
    font-size: 35px;
    font-weight: bold;
    
}

footer {
   
    text-align: center;
    
    margin: 50px 0px 0px 0px;
    padding: 5px 0px 5x 0px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}



#banner {
<<<<<<< HEAD
    font-size: 85px;  
=======
    font-size: 85px;
    
    
    
    
>>>>>>> Index_html
}




#tBox {
    
    text-align: center;
    font-size: 35px;
    
}

aside {
    border: solid;
    float: right;
    
     margin-left: auto;
    margin-right: auto;
    margin: 5px; 

    
}

body {
    background-image: url("https://i.imgur.com/dqj1Hfw.jpg");
    background-size: cover;
    font-family: 'Neucha', cursive;
    background-attachment: fixed;
}

input {
    background-color: rgb(224, 224, 224);
}

#quizLabel {
    font-size: 45px;
}

.scoreTable {
    background-color: black;
}

#table {
    border: solid;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
    border-color: rgba(255, 255, 255, 0);
    text-align: center;
    
    
    
    
    margin-top: 10px;
    
}

#tableText {
    color: rgb(212, 212, 212);
}

#tableHead {
    font-size: 20px;
}

#tableItems {
    font-size: 1px;
}

#scoreHead {
    font-size: 45px;
}

<<<<<<< HEAD
/* If all divs have the same styling, why not create a class that does it all. */
.bgColor{
    border: solid;
    background-color: rgba(0, 0, 0, 0.788);
    color: rgb(212, 212, 212);
    border-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
}
.answer{
    margin: 5px 5px 5px 5px;
}
.answer:hover{
    font-size:1.5rem;
}
#question-display{
    text-align: center;
    height: 60px; /* Set so that the div doesn't constantly shift when larger text is added */
}

/* --------------------------------- */
/*         Fade Animations           */
/* --------------------------------- */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
=======
#startGameButton {
    font-size: 30px;
    background-color: rgb(0, 70, 83);
    margin-top: 30px;
    width: 200px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

#gif {
    height: 290px;
    width: 290px;
}

#sel1 {
    background-color: rgb(224, 224, 224);
}

#headerGif1 {
    height: 90px;
    width: 90px;
    float: right;
    
    
}

#headerGif2 {
    height: 90px;
    width: 90px;
    float: left;
    
}

/*HOVER SECTION*/

#banner:hover {
    
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 100;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

#startGameButton:hover {
    -webkit-animation-name: wiggle;
        -ms-animation-name: wiggle;
        -ms-animation-duration: 1000ms;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: 100;
        -ms-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
      }
      
      @-webkit-keyframes wiggle {
        0% {-webkit-transform: rotate(10deg);}
        25% {-webkit-transform: rotate(-10deg);}
        50% {-webkit-transform: rotate(20deg);}
        75% {-webkit-transform: rotate(-5deg);}
        100% {-webkit-transform: rotate(0deg);}
      }
      
      @-ms-keyframes wiggle {
        0% {-ms-transform: rotate(1deg);}
        25% {-ms-transform: rotate(-1deg);}
        50% {-ms-transform: rotate(1.5deg);}
        75% {-ms-transform: rotate(-5deg);}
        100% {-ms-transform: rotate(0deg);}
      }
      
      @keyframes wiggle {
        0% {transform: rotate(10deg);}
        25% {transform: rotate(-10deg);}
        50% {transform: rotate(20deg);}
        75% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
      }


#gif:hover {
    -webkit-animation-name: wiggle;
        -ms-animation-name: wiggle;
        -ms-animation-duration: 1000ms;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: 100;
        -ms-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
      }
      
      @-webkit-keyframes wiggle {
        0% {-webkit-transform: rotate(10deg);}
        25% {-webkit-transform: rotate(-10deg);}
        50% {-webkit-transform: rotate(20deg);}
        75% {-webkit-transform: rotate(-5deg);}
        100% {-webkit-transform: rotate(0deg);}
      }
      
      @-ms-keyframes wiggle {
        0% {-ms-transform: rotate(1deg);}
        25% {-ms-transform: rotate(-1deg);}
        50% {-ms-transform: rotate(1.5deg);}
        75% {-ms-transform: rotate(-5deg);}
        100% {-ms-transform: rotate(0deg);}
      }
      
      @keyframes wiggle {
        0% {transform: rotate(10deg);}
        25% {transform: rotate(-10deg);}
        50% {transform: rotate(20deg);}
        75% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
      }



#quizLabel:hover {
    -webkit-animation-name: wiggle;
        -ms-animation-name: wiggle;
        -ms-animation-duration: 1000ms;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: 100;
        -ms-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
      }
      
      @-webkit-keyframes wiggle {
        0% {-webkit-transform: rotate(10deg);}
        25% {-webkit-transform: rotate(-10deg);}
        50% {-webkit-transform: rotate(20deg);}
        75% {-webkit-transform: rotate(-5deg);}
        100% {-webkit-transform: rotate(0deg);}
      }
      
      @-ms-keyframes wiggle {
        0% {-ms-transform: rotate(1deg);}
        25% {-ms-transform: rotate(-1deg);}
        50% {-ms-transform: rotate(1.5deg);}
        75% {-ms-transform: rotate(-5deg);}
        100% {-ms-transform: rotate(0deg);}
      }
      
      @keyframes wiggle {
        0% {transform: rotate(10deg);}
        25% {transform: rotate(-10deg);}
        50% {transform: rotate(20deg);}
        75% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
      }

h1:hover {
    -webkit-animation-name: wiggle;
        -ms-animation-name: wiggle;
        -ms-animation-duration: 1000ms;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: 100;
        -ms-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
      }
      
      @-webkit-keyframes wiggle {
        0% {-webkit-transform: rotate(10deg);}
        25% {-webkit-transform: rotate(-10deg);}
        50% {-webkit-transform: rotate(20deg);}
        75% {-webkit-transform: rotate(-5deg);}
        100% {-webkit-transform: rotate(0deg);}
      }
      
      @-ms-keyframes wiggle {
        0% {-ms-transform: rotate(1deg);}
        25% {-ms-transform: rotate(-1deg);}
        50% {-ms-transform: rotate(1.5deg);}
        75% {-ms-transform: rotate(-5deg);}
        100% {-ms-transform: rotate(0deg);}
      }
      
      @keyframes wiggle {
        0% {transform: rotate(10deg);}
        25% {transform: rotate(-10deg);}
        50% {transform: rotate(20deg);}
        75% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
      }






>>>>>>> Index_html

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-in.two {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay:0.4s;
  animation-delay: 0.4s;
}

.fade-in.three {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}




